.testimonial {
    &-desc {
        color: $theme-color-secondary;
        font-size: 25px;
    }
    &-inner {
        max-width: 750px;
        margin: auto;
        .icon {
            margin-bottom: 28px;
            img {
                margin: auto;
            }
        }
        .client {
            &-info {
                line-height: 1;
                margin-top: 63px;
                position: relative;
                &:before {
                    top: -48px;
                    left: 50%;
                    width: 2px;
                    height: 35px;
                    content: '';
                    position: absolute;
                    background-color: $theme-color-primary;
                }
            }
            &-name {
                color: $theme-color-secondary;
                font-weight: 700;
                padding-bottom: 5px;
                font-size: 20px;
                
            }
            &-desig {
                color: $theme-color-darkbis;
                display: inline-block;
                font-size: 15px;
                margin-top: 5px;
            }
        }
    }
}