
// google map scss
.google-map{
    background-color: $theme-color-secondary;
    padding-bottom: 80px;
}
.vue-map-container {
    height: 400px;
    width: 45%;
}

// contact info scss
.contact-info {
    &__list {
        color: $theme-color-primary;
        display: flex;
        align-items: right;
        margin-bottom: 10px;
        padding-left: 55%;
        justify-content: center;
        i {
            font-size: 30px;
            padding-right: 10px;
            color: $theme-color-primary;
        }
        a {
            color: $theme-color-primary;
            &:hover {
                color: $theme-color-primary;
            }
        }
    }
}
.contact-form {
    margin-top: 10px;
    input,
    textarea {
        color: $paragraph-light;
        width: 100%;
        border: 1px solid rgba($paragraph-light, 0.1%);
        margin-bottom: 30px;
        padding: 8px 20px;
        background-color: $bg-light;
    }
    textarea {
        height: 150px;
    }
    .btn-default{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}